body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
    background: #f7e5d1;
    font-family: Arial, sans-serif;
}

.cake{
    position: relative;
    width: 150px;
    height: 100px;
    background: #ff99cc;
    border-radius: 10px;
    margin-top:50px;
}

.cake-body{
    width:100%;
    height:100%;
    background:linear-gradient(45deg,#ff66b2,#ff99cc);
    border-radius: 10px;
    position: absolute;
    bottom:0;
}

.candle{
    position: absolute;
    top:-60px;
    left:50%;
    transform: translateX(-50%);
    width:20px;
    height:60px;
    background:#ffd700;
    border-radius: 5px;
}

.flame{
    background:radial-gradient(circle,#ff4500,#ff8c00);
    position:absolute;
    top:-20px;
    left:50%;
    transform: translateX(-50%);
    width:15px;
    height: 30px;
    border-radius: 50%;
    animation:flicker 0.3s infinite;
}

@keyframes flicker{
    0%, 100%{
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
    50%{
        transform: translateX(-50%) scale(1.2);
        opacity: 0.8;
    }

}

/* hidden flames */
.hidden{
    opacity: 0;
    animation:none;
}